{{!--
This template is used for the authors page.
You must first create a page called Authors in the dashboard to enable it.
--}}


{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header">
    <div class="outer site-nav-main">
        <div class="inner">
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}


<div class="main-wrap">
  <main>
    <div class="l-wrapper">
      <div class="l-content">
        {{!-- Everything inside the #post tags pulls data from the page --}}
        {{#post}}
        <section class="m-heading" data-aos="fade">
          <h1 class="m-heading__title">{{title}}</h1>
          {{#if custom_excerpt}}
            <p class="m-heading__description">
              {{custom_excerpt}}
            </p>
          {{/if}}
        </section>
        {{/post}}
        {{#get 'authors' limit='all' include='count.posts' order='count.posts desc'}}
          <div class="l-posts-container">
            {{#foreach authors}}
              {{!-- The tag below includes the markup for each author - partials/author-card.hbs --}}
              {{> "author-card"}}
            {{/foreach}}
          </div>
        {{/get}}
      </div>
    </div>
  </main>
</div>





{{!-- --}}

